header.header

	.header__logo
		img(src="images/logo.png" alt="Фото")

	nav.header__menu.for-desktop
		.header__line
			img(src="images/line-active.svg" alt="")
		each object, key in data.header.menu
			if key == 0
				a.header__link.js-to-anchor.is-active(
					href=object.url
					data-link=key
				)
					!= object.name
			else
				a.header__link.js-to-anchor(
					href=object.url
					data-link=key
				)
					span
						!= object.name

	button.header__burger.btn.js-burger.for-devices(type="button")
		span
		span
		span

	nav.header__menu_mob
		.header__line
			img(src="images/line-active-mob.svg" alt="")
		.header__list
			each object, key in data.header.menu
				if key == 0
					a.header__link.js-to-anchor.is-active(
						href=object.url
						data-link=key
					)
						!= object.name
				else
					a.header__link.js-to-anchor(
						href=object.url
						data-link=key
					)
						span
							!= object.name
		.header__pic
			+lazyPicture({
                src: `${baseDir}images/hourglass.png`,
                alt: 'Песочные часы',
            }, 
            {
                srcset: `${baseDir}images/hourglass.png`,
            }
        )
